.container
  .row
    .col-md-12
      %a.btn.btn-primary{href: "/", style: "margin-top:5px"} 返回首页
    .col-md-12
      %h2.page-header 
        #{@user.user_name}
        %a{href: "https://www.kuaishou.com/live/user/#{@user.source_id}/", target: "_blank"} #{@user.source_id}
        %a.btn.btn-success.pull-right{href: "/ads"} 全部广告
        %a.btn.btn-warning.pull-right{href: "/ads_online", style: "margin-right:10px"} 在线广告
    .col-md-12
      %table.table.table-striped
        %tr
          %th 作品ID
          %th 广告?
          %th 统计量
          %th 已下线？
          %th 发布时间
          %th 数据更新
        - @photos.each do |photo|
          %tr
            %td
              %a{href: "https://www.kuaishou.com/photo/#{photo.user_source_id}/#{photo.photo_id}/", target: "_blank"} #{photo.photo_id}
            %td 
              - if photo.is_ad == 0
                %a.btn.btn-default{href: "/photo/#{photo.photo_id}/set_ad/?is_ad=1"} 设为广告
              -else 
                %a.btn.btn-success{href: "/photo/#{photo.photo_id}/set_ad/?is_ad=0"} 取消广告
            %td 
              单小时：#{photo.first_hour_views == 0 ? '尚未计算' : photo.first_hour_views == -1 ? 'miss it' : photo.first_hour_views}
              %br
              浏览量：#{photo.views}
              %br
              喜欢量：#{photo.likes}
              %br
              评论量：#{photo.comments}
            - if photo.is_online == 1
              %td 否
            - else
              %td 
                #{(photo.offline_at + 8.hours).strftime("%F %H:%M")}
                %br
                %br
                %a.btn.btn-warning{href: "/photo/#{photo.photo_id}/reset_online"} 重置
            %td #{(photo.published_at + 8.hours).strftime("%F %H:%M")}
            %td #{(photo.updated_at + 8.hours).strftime("%F %H:%M")}
